<ion-view view-title="Balance History" cache-view="false">
    <ion-content>
        <ion-list>
            <ion-item class="item-remove-animate item-icon-left" ng-repeat="item in vm.history | orderBy : '+createdAt' " type="item-text-wrap">
                <i class = "icon icon ion-ios-arrow-thin-down positive" ng-if="item.type =='income'"></i>
                <i class = "icon icon ion-ios-arrow-thin-up assertive" ng-if="item.type =='outcome'"></i>
                <div class="row">
                    <div class="col col-75">
                        <h2>{{item.sender.info.name || '-'}}</h2>
                        <p>{{item.createdAt | date}}</p>
                    </div>
                    <div class="col text-right">
                        <h2 class="assertive" ng-if="item.type =='outcome'">{{item.unitName | limitTo: 3}} {{item.amount}}</h2>
                        <h2 class="positive" ng-if="item.type =='income'">{{item.unitName | limitTo: 3}} {{item.amount}}</h2>
                        <p>{{item.status}}</p>
                    </div>
                </div>

                <ion-option-button class="button-assertive" ng-click="vm.remove(item)">
                    Delete
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
