<ion-view class="auth-view" cache-view="false" view-title="Scan a bill">
    <ion-content class="padding">
      <div class="row">
        <div class="col">
          <div class="list">
            <div class="info-line">
              <h4>Recipient</h4>
              <h3 class="assertive">{{vm.payment.recipient.info.name}} 
                  <small ng-show="vm.isNewContact" ng-click="vm.addSenderToContact()">[ADD TO CONTACT LIST]</small>
              </h3>
            </div>
            <div class="info-line">
              <h4>Pay, {{vm.payment.unitName}}</h4>
              <h3 class="assertive">{{vm.payment.amount}}</h3>
            </div>
            <div class="info-line">
              <h4>Message</h4>
              <h3 class="assertive">{{vm.payment.message}}</h3>
            </div>
          </div>
        </div>
      </div>
    </ion-content>
    <div class="footer-bar-custom">
      <div class="item-center">
        <button type="submit" class="button button-block button-assertive" ng-click="vm.doSend()">
        CONFIRM PAYMENT
        </button>
      </div>
    </div>
</ion-view>
