.dashboard.scroll-content {
	display: table !important;
	width: 100% !important;
	height: 100% !important;
}
.dashboard .scroll {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.footer-bar-custom {
    width: 100%;
    border: 0px;
    position: absolute;
    bottom: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 5;
    background-image: none;
}

.footer-bar-custom .item-center {
    padding-left:10px;
    padding-right:10px;
}

.top-50 {
    padding-top:50px !important;
}

.top-50-minus {
    margin-top:-50px !important;
}

.balance {
    padding-top:20px;
    padding-bottom: 25px;
    color: $assertive;
    font-size: 32px !important;
}

.balance .currency {
    font-size: 20px !important;
}

.button-border {
    border: 2px solid $assertive !important;
    border-radius: 25px !important;
    padding-left: 10px;
    padding-right: 10px;
}
