.dashboard.scroll-content {
	display: table !important;
	width: 100% !important;
	height: 100% !important;
}
.dashboard .scroll {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.footer-bar-custom {
    width: 100%;
    border: 0px;
    position: absolute;
    bottom: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 5;
    background-image: none;
}

.footer-bar-custom .item-center {
    padding-left:10px;
    padding-right:10px;
}

.top-50 {
    padding-top:50px !important;
}

.top-50-minus {
    margin-top:-50px !important;
}

.balance {
    padding-top:20px;
    padding-bottom: 25px;
    color: $assertive;
    font-size: 32px !important;
}

.balance .currency {
    font-size: 20px !important;
}

.button-border {
    border: 2px solid $assertive !important;
    border-radius: 25px !important;
    padding-left: 10px;
    padding-right: 10px;
}

.item-text-center {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    position: absolute;
    top: 0;
    height: 100%;
}

.button-float{
    background: $assertive !important;
    color:white !important;
    z-index: 12 !important;
    position: absolute !important; 
    bottom: 70px !important;
    right: 20px !important;
    border-radius: 50% !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26) !important;
    -webkit-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
    -webkit-transition: 0.2s linear !important;
    transition: 0.2s linear !important;
    -webkit-transition-property: -webkit-transform, all !important;
    transition-property: transform, all !important;
}

.button-float:hover{
    -webkit-transform: translate3d(0, -1px, 0)  !important;
    transform: translate3d(0, -1px, 0) !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4) !important;
    background: darken($assertive, 10%) !important;
}
