<ion-view class="auth-view" cache-view="false" view-title="Account settings">
  <ion-nav-bar class="view-navigation">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <form name="settings_form" class="" novalidate>
    <ion-content class="padding">
      <div class="row form-wrapper">
        <div class="col">
    		  <div class="list">
            <label class="item item-input">
              <div class="input-label">Display Name</div>
              <input type="text" name="name" ng-model="vm.settings.name" required>
            </label>
      			<label class="item item-input item-select">
      				<div class="input-label">Default currency</div>
          		<select ng-model="vm.settings.currency">
            		<option ng-selected="{{unit.id == vm.settings.currency}}"
                        ng-repeat="unit in vm.units"
                        value="{{unit.id}}">
                  {{unit.name}}
                </option>
          		</select>
        		</label>
          </div>
        </div>
  		</div>
    </ion-content>
    <div class="footer-bar-custom">
      <div class="item-center">
        <button type="submit" class="button button-block button-assertive" ng-click="vm.doPin()" ng-disabled="settings_form.$invalid">
        CONTINUE
        </button>
      </div>
    </div>
  </form>
</ion-view>
